/* Estilos funcionales de accesibilidad */
html.fc-contrast {
  filter: invert(1) hue-rotate(180deg);
  background-color: #000 !important;
  color: #fff !important;
}
html.fc-desaturated {
  filter: grayscale(100%) !important;
}
.own-btn-primary { background-color: #0073aa; color: #fff; }
.own-btn-secondary { background-color: #555; color: #fff; }
.own-btn:hover { opacity: 0.9; }
